@using SPU.ViewModels

@model HoraireIndexVM

<style>
    .horaire-listehoraire-fullclass {
        margin-top:10px;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .horaire-listehoraire-fullclass::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/images/pexels-denniz-futalan-3452997.jpg");
        background-size: cover;
        background-repeat:no-repeat;
        filter: blur(12px);
        z-index: -1;
    }

    .horaire-listehoraire-liste {
        position: relative;
        margin: auto;
        border: 3px solid blue;
        padding: 10px;
        max-width: 1000px;
        background-color: white !important;
        z-index: 1;
    }

</style>


<div class="horaire-listehoraire-fullclass">
    <div class="horaire-listehoraire-liste">
        <br />

        @if(Model.role == "MDS")
        {
            <form asp-controller="Horaire" asp-action="AjoutNouvelHoraireMDS" method="post">
                <button id="horaire-ajoutnouvelhorairemds-button" type="submit" class="btn btn-primary" style="font-size:20px;">Ajout nouvel horaire maître de stage</button>
            </form>
        }
        else if(Model.role == "stagiaire")
        {
            <a>Horaire indisponible : L'assignation doit se faire avec un maître de stage afin de pouvoir avoir accès à l'horaire</a>
        }
        <br />
        <hr />
    </div>
</div>





