@using SPU.ViewModels

@model ListeHoraireVM

<style>
    .horaire-listehoraire-fullclass {
        margin-top:10px;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .horaire-listehoraire-fullclass::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/images/pexels-denniz-futalan-3452997.jpg");
        background-size: cover;
        background-repeat:no-repeat;
        filter: blur(12px);
        z-index: -1;
    }

    .horaire-listehoraire-liste {
        position: relative;
        margin: auto;
        border: 3px solid blue;
        padding: 10px;
        max-width: 1000px;
        background-color: white !important;
        z-index: 1;
    }

</style>


<div class="horaire-listehoraire-fullclass">
    <div class="horaire-listehoraire-liste">
        <br />
        <form asp-controller="Horaire" asp-action="AjoutNouvelHoraireMDS" method="get">
            <button id="horaire-ajoutnouvelhorairemds-button" type="submit" class="btn btn-primary" style="font-size:20px;">Ajout nouvel horaire maître de stage</button>
        </form>
        <br />

        <h1>Liste des horaires</h1>
        <hr />
        @if (Model.listeHoraire != null)
        {
            @foreach (var item in Model.listeHoraire)
            {

                <div class="row" style="margin:20px;">
                    <div class="row" style="font-size:26px; font-weight: bold;">
                        Choix de l'horaire :
                    </div>
                    <br />
                    <div class="row" style="font-size:22px; ">
                        <label>
                            Horaire du : @item.DateDebutStage.ToString("d MMMM yyyy") au @item.DateFinStage.ToString("d MMMM yyyy")
                        </label>
                    </div>
                    <div class="row" id="horaire-listehoraire-id-@item.Id">
                        <img class="submit" onclick="location.href ='@Url.Action("Horaire", "Horaire", new { horaireId = item.Id })'" src="/images/Horaire_miniature.png" style="width:200px" />
                    </div>
                </div>
                <hr />
            }
        }
    </div>
</div>





