
#horaire-ajoutPlageHoraire-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#horaire-confirmationPlageHoraire-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25ca2b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#horaire-ajoutPlageHoraire-button:hover {
    background-color: #2980b9;
}

#horaire-confirmationPlageHoraire-button:hover {
    background-color: #19a51d;
}

#horaire-ajoutnouvelhorairemds-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25ca2b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#horaire-ajoutnouvelhorairemds-button:hover {
    background-color: #19a51d;
}

img.submit {
    cursor: pointer;
    transition: border-color 0.4s;
    padding: 10px;
}


img.submit:hover {
    cursor: pointer;
    border: 4px solid blue;
    border-radius: 5%;
}