html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .main_header{
    height: 7vh;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

main {
  height: 100%;
}

.boutton-navigation {
  text-align: center;
  display: flex;
  margin-top: 1rem;
  background: none;
  border: none;
  text-decoration: none;
  color: inherit;
}

.boutton-navigation .cache-sur-mobile {
  margin-left: 1rem;
}

.main_header {
  height: 9vh;
}
.main_container {
  height: 87vh;
}

hr {
  margin: 1vh 0;
}

@media (max-width: 1050px) {
  .cache-sur-mobile {
    display: none;
  }
}

.hidden {
  display: none;
}

