.containerTabHead {
    position: relative;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
.center {
    position: absolute;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 18px;
}

.btn-light-blue-green {
    background-color: #80e0a1; 
    border-color: #80e0a1;
    color: white; 
}

    .btn-light-blue-green:hover {
        background-color: #72c796; 
        border-color: #72c796;
    }

.newbtn-btn {
    background-color: #47b9a3;
    border: none;
    color: white;
}

.custom-btn {
    background-color: #47b9a3;
    border: none;
    color: white;
    transition: transform 0.3s ease;
}

    .custom-btn:hover {
        background-color: #36a08c;
        transform: scale(1.3);
    }

.btn-lg {
    padding: 10px 20px; 
    font-size: 18px; 
}

