@model SPU.ViewModels.UtilisateurEditVM

@{
    ViewData["Title"] = "Modifier";
    var estStagiaire = ViewBag.cacher as bool? ?? false;
}

<div class="mt-2 mb-2">
    @Html.ActionLink("Back", "Manage", new { }, new { @class = "btn btn-secondary" })
</div>

<div class="mt-2">
    <p>Utilisateur choisi <b>@Model.userName</b> pour modifier</p>
</div>

<form id="user-form" asp-action="EditUtilisateur" asp-controller="Compte" method="post">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            @if (!estStagiaire)
            {
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <div class="form-group mt-2 mb-2">
                    <input type="submit" value="Modifier" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    
}